<template>
  <div id="wrapper">

    <div class="title">Desktop Authenticator App</div><br>
    <div v-if="database.path">
      <span v-if="isDirty">*</span>{{ database.path }}
      <span v-if="databaseIsSecured">(Secured)</span>
    </div>
    <div>
      <button
          @click="databaseIsOpen && addEntry()"
          v-bind:class="{ alt: !databaseIsOpen }"
        >Add Entry</button>
      <button
          @click="modalPassword = databaseIsOpen"
          v-bind:class="{
            alt: !databaseIsOpen,
            secured: databaseIsSecured
          }"
        >Secure With Password</button>
    </div>
    <main>
      <div class="left-side">
        <EntryList v-bind:entries="database.entries"
          @edit="editEntry"
          @select="selectEntry">
        </EntryList>
      </div>

      <div class="right-side">
        <div class="doc">
          <Recent v-if="!databaseIsOpen"></Recent>
          <Entry
              v-if="databaseIsOpen && selectedEntry"
              v-bind:entry="selectedEntry.entry"
              v-bind:index="selectedEntry.index"></Entry>
        </div>
      </div>
    </main>
    <EditEntry v-if="modalEntry"
      v-bind:data="modalEntry"
      @save="saveEntry"></EditEntry>
    <SetPassword v-if="modalPassword || (database && database.secured)"
    @setPassword="setPassword"></SetPassword>
  </div>
</template>

<script>
  import Config from '../lib/config'
  import Entry from './LandingPage/Entry'
  import EntryList from './LandingPage/EntryList'
  import EditEntry from './LandingPage/EditEntry'
  import Recent from './LandingPage/Recent'
  import SetPassword from './LandingPage/SetPassword'

  export default {
    mounted: function () {
      Config.load().then(config => {
        this.$store.dispatch('setRecent', config.recent)
      })
    },
    name: 'landing-page',
    components: { Entry, EntryList, EditEntry, Recent, SetPassword },
    data () {
      return {
        modalEntry: undefined,
        modalPassword: undefined,
        selectedEntry: undefined
      }
    },
    computed: {
      databaseIsOpen: function () {
        return !!this.$store.state.database.path
      },
      database: function () {
        return this.$store.state.database
      },
      isDirty: function () {
        return this.$store.state.dirty
      },
      databaseIsSecured() {
        return this.$store.state.database &&
        (this.$store.state.database.secured || this.$store.state.password)
      },
      pass () {
        return this.$store.state.password
      }
    },
    methods: {
      addEntry () {
        this.modalEntry = {
          title: 'Add Entry',
          entry: {},
          index: undefined
        }
      },
      editEntry (index, entry) {
        this.modalEntry = {
          title: 'Edit Entry',
          entry,
          index
        }
      },
      saveEntry (entry, index) {
        this.modalEntry = undefined
        if (index) {
          this.$store.dispatch('editEntry', entry, index)
        } else {
          this.$store.dispatch('addEntry', entry)
        }
      },
      selectEntry (entry, index) {
        console.log({entry, index})
        this.selectedEntry = {entry, index}
      },
      setPassword(password) {
        console.log({password})
        this.$store.dispatch('password', password).then(success => {
          this.modalPassword = !success
          console.log({success})
        })
      }
    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body { font-family: 'Source Sans Pro', sans-serif; }

  #wrapper {
    background:
      radial-gradient(
        ellipse at top left,
        rgba(255, 255, 255, 1) 40%,
        rgba(229, 229, 229, .9) 100%
      );
    height: 100vh;
    padding: 60px 80px;
    width: 100vw;
  }


  main {
    display: flex;
    justify-content: space-between;
  }

  main > div {
    height: 80vh;
  }

  .left-side {
    display: flex;
    width: 300px;
    flex-direction: column;
    border-right: 2px solid grey;
    padding-right: 20px;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  button.alt {
    color: #42b983;
    background-color: transparent;
  }
  button.secured {
    color: orange;
    background-color: transparent;
  }
</style>
