<template>
  <div>
    <h2><span class="issuer">{{ entry.issuer }}</span>:{{ entry.name }}</h2>
    <div class='token'>{{ token }}</div>
     <button @click="$emit('select', entry, index)">Edit</button>
     <button @click="deleteEntry()">Delete</button>
     <button v-if="!qr" @click="showQR">Show QR</button>
     <button v-if="qr" @click="hideQR">Hide QR</button>
       <div v-show="qr">
        <canvas id="canvas"></canvas>
     </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as Authenticator from 'authenticator'
import QRCode from 'qrcode'

export default Vue.component('Entry', {
  data () {
    return {
      qr: undefined,
      entryindex: this.index
    }
  },
  watch: {
    entryindex: {
      handler: function (oldIndex, newIndex) {
        if (oldIndex !== newIndex) {
          this.qr = undefined
        }
      }
    },
    token: {
      handler: function(o, n) {
        if (o !== n) {
          console.log({o, n, t: this.token})
        }
      }
    }
  },
  props: ['entry', 'index'],
  computed: {
    token: function () {
      return Authenticator.generateToken(this.entry.secret)
    }
  },
  methods: {
    hideQR () {
      this.qr = undefined
    },
    showQR () {
      this.qr = Authenticator.generateTotpUri(
        this.entry.secret,
        this.entry.name,
        this.entry.issuer
      )
      setTimeout(() => {
        QRCode.toCanvas(
          document.getElementById('canvas'),
          this.qr,
          () => {}
        )
      })
    },
    deleteEntry() {
      this.$store.dispatch('removeEntry', this.index)
    }
  }
})
</script>