<template>
  <div>
    <h2>Entries</h2>
    <ul>
      <li v-for="(entry, index) in entries" :key="entry.name">
        <div @click="$emit('select', entry, index)">
          <span class="issuer">{{ entry.issuer }}</span>:{{ entry.name }}
          </div>
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.component('EntryList', {
  props: ['entries']
})
</script>

<style scoped>
 ul{
  list-style: none;
 }
</style>