<template>
  <div>
    <h2>Recent</h2>
    <ul>
      <li v-for="(file) in recent" :key="file">
        <div @click="open(file)">{{ file }}</div>
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from 'vue'
import Io from '../../lib/io'
import Menu from '../../lib/menu'

export default Vue.component('Recent', {
  computed: {
    recent: function () {
      return this.$store.state.recent
    }
  },
  methods: {
    open(file) {
      Io.open(file).then(database => {
        this.$store.dispatch('database', database)
        Menu.setAsActiveDatabase()
      })
    }
  }
})
</script>

<style scoped>
 ul{
  list-style: none;
 }
</style>